@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
body {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  background: #f1fbff;
}

.section-padding {
    padding-block: 100px;
}
.carousel-item {
    height: 100vh;
    /* min-height: 300px; */
}

.carousel-caption {
    bottom: 250px;
    z-index: 111;
   

}

.carousel-caption h2 {
    font-size: 2rem;
    font-weight: 700;
}
.carousel-caption > p {
    max-width: 50ch;
    width: 100%;
    padding-block: 1rem;
    margin: auto;
}
.carousel-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000082;
}
img {
    max-width: 100%;
}
.w-100 {
  height: 100vh;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 240px;
       
    
    }
    .custom-container {
        width: 100% !important;
        margin: auto;
    }
}
.grid {display: grid;}
/* gallery grid */
.gallery-grid img {
    object-fit: cover;
    height: 100%;
}
.gallery-grid{
    display: grid;
    gap: 1rem;
}
@media (min-width: 50em){
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .two {
        grid-area: 1/2/3/3;
    }
    .three {
        grid-area: 2/1/3/2;
    }
    .four {
        grid-area: 3/1/3/2;
    }
    .five {
        grid-area : 3/3/3/4;
    }
}


/* form */
.form {
    max-width: 450px;
    
}
section {
    padding-block: 4rem;
}